@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap')
*
  padding: 0
  margin: 0
  box-sizing: border-box
  border: none

body
  background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%) !important
  font-family: 'M PLUS Rounded 1c', sans-serif

.text-bold
  font-weight: 700 !important

.text-extra-bold
  font-weight: 900 !important

.doge-font
  font-family: 'Rubik Moonrocks', sans-serif

.roundex-xl
  border-radius: 11px
